* {
    margin: 0;
}


.container {
    border-style: solid;
    position: relative;
    padding-top: 0;
}

.one,
.two,
.three{
    
    border-style: solid;
    display: inline-block;
}

.left-wrapper,
.right-wrapper {
    display: inline-block;
}

.right-wrapper {
    position: absolute;
    right: 0;
}

.main {
    border-style: solid;
    padding: 5px;
    
}